*{
    margin: 0;
    padding: 0;
}
/* banner-section start */
.banner-section{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    border: 1px solid black;
    border-style: dashed;
    background-image: url('styles/assets/Hero-bg.png');
    margin-top: 131px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner-section .banner-div{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.banner-section .banner-div h1{
    font-size: 55px;
    margin: 24px 0px;
    text-align: center;
    
}
.banner-section .banner-div p{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
.banner-section .banner-div button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
background-color: black;
color: white;
margin-left: 395px;
margin-top: 50px;
border-radius: 5px;
}

/* banner-section end */

/* 2nd page start */
main .important{
    width: 1140px;
    height: 1393px;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 74px;
    border: 1px solid white;
}
main .important .head-part{
    width: 852px;
height: 113px;
margin: 0 auto;
margin-top: 80px;
}
main .important .head-part h1{
    text-align: center;
    height: 61px;
    margin: 0;
    padding: 0;
}
main .important .head-part p{
    text-align: center;
    margin-top: 24px;
    margin: 0;
    padding: 0;
    height: 52px;
    
}
main .important-two{
    width: 946px;
    height: 1072px;
    margin: 0 auto;
    margin-top: 48px;

}
main .important-two .sitting-human{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid white;
    margin-bottom: 32px;
    

}
main .important-two .sitting-human .parts{
    width: 850px;
height: 240px;
margin: 0 auto;
margin: 48px;

}

main .important-two .sitting-human .parts{
    display: flex;
}
main .important-two .sitting-human .parts .writing{
    width: 477px;
    height: 219px;
    margin-right: 100px;
}
main .important-two .sitting-human .parts .img{
    width: 259.56px;
height: 217.01px;
}
main .important-two .sitting-human .parts h3{
margin-bottom: 16px;
width: 390px;
height: 72px;
}
main .important-two .sitting-human .parts p{
    margin-bottom: 32px;
    width: 468px;
    height: 52px;
}
main .important-two .sitting-human .parts button{
    border: 1px solid black;
    width: 171px;
height: 47px;
background-color: white;
    
}



/* 2nd page end */